* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.cookie-container {
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 10rem;
    display: flex;
    padding: 1rem;
    color: white;
    overflow: hidden;
    position: absolute;
    align-items: center;
    align-items: center;
    border-radius: 1.2rem;
    justify-content: space-between;
    transform: translate(-50%,-50%);
    font-family: "Poppins",sans-serif;
    background: linear-gradient(260deg,#9b6c50 ,#4f2626 );
}
.cookie {
    /* padding-right: 2rem; */
    transform: scale(0.6);
}
.text {
    width: 80%;
    /* justify-content: space-between; */
}
.cookie-title {
    font-size: 1rem;
    font-weight: lighter;
}
.cookie-subtitle {
    font-weight: bold;
    font-size: 0.6rem;
    padding: 0.7rem 0rem;
}
button {
    color: #4f2626;
    font-weight: bold;
    font-size: 0.6rem;
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-family: "Poppins",sans-serif;
}